[2016-12-11 02:25] brwhaley opened #1 "Makefile question"
It looks like the TLS directories are hardcoded in the Makefile here:
 meta-iot-cloud/recipes-aws/aws-iot-device-sdk-embedded-c/files/Makefile

-------------------------------------------------
#TLS - openSSL
TLS_LIB_DIR = /usr/lib/
TLS_INCLUDE_DIR = -I /usr/include/openssl
-------------------------------------------------
I'm getting multiple errors like this when trying to build:

cc1: warning:

[2016-12-13 10:25] srware commented on #1
Hi Ben,

Good catch. I have pushed an update today which will hopefully address this.

Those paths shouldn't be required at all so have been removed as they will trigger QA errors. Try building again and let me know if you continue to have issues.

Thanks,

Scott

[2016-12-16 04:27] brwhaley opened #2 "python-azure-storage error"
I've run into another error.  It looked like there might be an issue with nspkg and storage trying to install the same files.  Any help is appreciated!  -Ben

ERROR: The recipe python-azure-storage is trying to install files into a shared area when those files already exist. Those files and their manifest location are:
   /home/-/-/-/tmp/sysroots/edison/usr/lib/python2.7/site-packages/azure/__init

[2016-12-16 09:56] srware commented on #2
Hi Ben,

Thanks for reporting. Strange that I have never run into this but after looking at the recipe the files it installs for one of the packages does conflict with nspkg.

Should be fixed now.

[2016-12-16 09:56] #2 closed

[2016-12-16 09:56] #1 closed

[2016-12-28 03:13] brwhaley opened #3 "aws-iot-device-sdk-embedded-C version?"
Are there plans to update meta-iot-cloud to use the 2.x version of the AWS embedded c sdk?  Thanks.

[2016-12-29 10:31] srware commented on #3
Hi,

Amazon stopped putting out OpenSSL builds of the embedded C SDK starting with version 2.x deciding to make it more focused on low power devices (mbed etc...). For platforms running full-fat Linux with OpenSSL or equivalent there is now a C++ SDK: https://github.com/aws/aws-iot-device-sdk-cpp

I will be adding support for the new C++ SDK shortly but the embedded C SDK will likely be staying at

[2017-01-04 16:01] #3 closed

[2017-01-06 01:39] brwhaley commented on #3
I wasn't aware of the C++ SDK but will take a look.  Thank you!

Ben

[2017-01-08 04:51] brwhaley opened #4 "aws-iot-device-sdk-cpp: do_package_qa errors"
Hello,

Thank you for adding the new recipe!  I'm able to compile, but am getting several errors during the package qa step of this nature:

QA Issue: non debug package contains .debug directory

Any help would be appreciated.

Thanks,
Ben

[2017-01-09 16:44] scooter1556 commented on #4
Hi Ben,

Thanks for reporting. I was building on newer versions which are smart enough to automatically add the debug folders to the debug package. I've just noticed on 2.0 (Jethro) it doesn't and throws a bunch of errors.

I will update the recipe tomorrow to get that fixed.

Scott

[2017-01-09 18:57] brwhaley commented on #4
Thanks for all your help!

Ben

[2017-01-10 16:38] srware commented on #4
Hi Ben,

No problem. The issue should now be fixed :)

I haven't had time to test the C++ SDK extensively so feel free to contact me if there are any issues with the libs/binaries the recipe creates.

Scott

[2017-01-10 16:39] #4 closed

[2017-01-12 20:02] brwhaley opened #5 "Issues with dev and dbg packages of aws-iot-device-sdk-cpp"
Hello,

The standard package seems build correctly for me.  However, I get the error below when building an image with the -dev package:

 satisfy_dependencies_for: Cannot satisfy the following dependencies for aws-iot-device-sdk-cpp-dev:
       rapidjson (= 1.1.0-r0)
 opkg_install_cmd: Cannot install package aws-iot-device-sdk-cpp-dev.

Additionally, the -dbg package built without errors but did

[2017-01-13 18:16] srware commented on #5
Hi Ben,

The issue you mentioned regarding rapidjson should now be fixed when building a full image.

Regarding header files, they are always included with the -dev package, not the -dbg package.

Regards.

[2017-01-13 18:17] #5 closed

[2017-01-14 03:23] asebak opened #6 "bitbake dependencies error"
I am trying to build the azure-c-shared-utility and I am getting the following error:

ERROR: Required build target 'azure-c-shared-utility' has no buildable providers.
Missing or unbuildable dependency chain was: ['azure-c-shared-utility', 'glibc-dev']

[2017-01-14 09:12] srware commented on #6
Which build system/toolchain (1.8, 2.0, 2.2, Wind River???). If you can give me some more information about how you are building the packages I can try to replicate and fix the issue.

Regards.

[2017-01-14 21:22] asebak commented on #6
i am just building it directly "bitbake azure-c-shared-utility".  I am not usinig an intel bsp though.  I am using my own.  I don't know if this is a generic yocto layer for all boards or specifically for intel boards?

[2017-01-15 21:51] srware commented on #6
The layer should be fairly generic but has only been tested with Poky based build environments. Glibc is included with OpenEmbedded Core so it's rare that this recipe isn't available which is why I asked about your build environment. Glibc-dev is a hard-coded recommended dependency for the 'azure-c-shared-utility' recipe to get around some bugs but it seems your build system doesn't have any recip

[2017-01-15 22:52] asebak commented on #6
Just to give you an update when I commented out those dependencies I managed to successfully create the iothub_client.so file.  But when I use it on my device it gives an issue about Cannot resolve symbol in the shared object file...  I noticed there's a flag -Duse_installed_dependencies:bool={ON/OFF} not sure if that has to do with that.  Thanks for looking into it.

[2017-03-21 20:13] srware commented on #6
Hi @asebak,

Is this still an issue with the latest master branch?

Thanks

[2017-03-25 16:25] srware commented on #6
Closing this issue for now as it should be solved. Feel free to re-open if it persists.

[2017-03-25 16:25] #6 closed

[2017-07-21 07:42] aaronadlink opened #9 "build azure-iot-sdk error on pulsar linux 8"
I got pulsar linux 8
https://github.com/WindRiver-OpenSourceLabs/wr-core.git
Added meta-iot-cloud to pulsar linux 8 and build azure-iot-sdk error

Error message :
aaron@ubuntu:~/pulsar_n/wr-core/build-intel-apollolake$ . init-intel-apollolake-env
aaron@ubuntu:~/pulsar_n/wr-core/build-intel-apollolake$ bitbake packagegroup-cloud-azure
Loading cache: 100% |###########################################

[2017-07-21 08:39] srware commented on #9
Hi @aaronadlink ,

The issue here is that the Python bindings for Boost are not built by the Boost recipe by default so you have to manually specify the PACKAGECONFIG settings in your build config.

Add the following line to your 'conf/local.conf' file or create a 'conf/auto.conf' file with the following contents:

`PACKAGECONFIG_pn-boost = "python"`

That should solve it.

[2017-07-21 09:43] aaronadlink commented on #9
it is working now
thanks.

[2017-07-21 09:43] #9 closed

[2017-08-04 01:50] rk-bp opened #10 "Python install path incorrect in azure-iot-sdk bitbake recipe"
In the ob_libinstall lines below "${B}" should be "${B}/c".

do_install_append() {
	# Python
	if ${@bb.utils.contains('PACKAGECONFIG','python','true','false',d)}; then
		install -d ${D}${PYTHON_SITEPACKAGES_DIR}
		oe_libinstall -C ${B}/python/src -so iothub_client ${D}${PYTHON_SITEPACKAGES_DIR}
		oe_libinstall -C ${B}/python_service_client/src -so iothub_service_client ${D}${PYTHON_SITEPACKAGES_DI

[2017-08-04 09:39] srware commented on #10
What issue are you seeing?

The build directory ${B} isn't the same as the git source directory ${S} so as far as I can see the current paths are correct and the Python libs are being packaged as expected. '${B}/c' doesn't exist...

[2017-08-04 13:58] rk-bp commented on #10
I am seeing this when I pulled the meta-iot-devkit layer into Yocto Daisy.  The path, at least in Yocto Daisy, is ${B}/c/python/src rather than ${B}/python/src.  If it is not modified in the reciped, Yocto throws a "path not found" error.

[2017-08-04 13:58] #10 closed

[2017-08-04 14:06] srware commented on #10
Interesting... I haven't tested on 1.6 as it's pretty old now. The layer is targeted at 2.0 and above. Something must be different in the CMake class or version of CMake.

I could make ${B} '?=' so you can override in a bbappend for your build?

[2017-08-04 16:02] rk-bp commented on #10
Also, the generated package could not be installed on Daisy even with the change I made to the recipe to the path IRT Python because the package generated by the bitbake recipe generates ${PN}-c as the package name while the Yocto Daisy installer is looking for ${PN} package name.  We are not upgrading to Jethro until second quarter next year.  I will see what I can do with a .bbappend.

[2017-08-04 18:10] rk-bp commented on #10
We are doing a POC, so I hacked your .bb (attached) to get the SDK to build in Yocto Daisy.  I will now revert these changes and work on a bbappend.

[azure-iot-sdk_1.1.13.bb.zip](https://github.com/intel-iot-devkit/meta-iot-cloud/files/1201247/azure-iot-sdk_1.1.13.bb.zip)

[2017-08-04 22:00] scooter1556 commented on #10
I've made some changed to the recipe which will hopefully help. You should just need to put the following in a .bbappend.

`B = ${WORKDIR}/build/c`

[2017-08-07 14:01] rk-bp commented on #10
Thanks.  I will create a .bbapend and try today.

[2017-08-08 02:24] rk-bp commented on #10
[azure-iot-sdk.zip](https://github.com/intel-iot-devkit/meta-iot-cloud/files/1206738/azure-iot-sdk.zip)
I had to modify your recipe slightly (attached) to get a successful Daisy build

[2017-08-08 06:50] scooter1556 commented on #10
I can see your .bbappend but I guess you didn't mean to include the '_java' recipe?

[2017-08-08 13:44] rk-bp commented on #10
[azure-iot-sdk.zip](https://github.com/intel-iot-devkit/meta-iot-cloud/files/1208244/azure-iot-sdk.zip)

[2017-08-08 13:51] srware commented on #10
Thanks for re-uploading.

If you pull the latest changes to the layer does the bbappend content I posted previously work?

`B = "${WORKDIR}/build/c"`

You should be able to override 'B' in your bbappend rather than adding another variable 'C'.

Thanks.

[2017-08-08 15:34] rk-bp commented on #10
Using an overridable B in the recipe results in an extra "/c" within the installation path.

[2017-08-08 15:35] rk-bp commented on #10
It is really quite strange...

[2017-08-08 16:17] srware commented on #10
Actually, that's my bad...

'B' is used in the CMake class to determine where to put build files so it will automatically make the directory specified in that variable.

I've just pushed another commit which will hopefully solve things with the following in a bbappend:

`OUTDIR = "${WORKDIR}/build/c"`

[2017-08-08 16:25] rk-bp commented on #10
Thanks, I will test it right now.

[2017-08-08 17:36] rk-bp commented on #10
Works.  Thanks.  ;-)

[2017-09-12 17:55] rk-bp opened #13 "nodejs-native config issue under Krogoth"
I encountered this configuration error IRT nodejs-native when building meta-iot-cloud under Krogoth.

ERROR: nodejs-native-6.10.3-r0 do_configure: Function failed: do_configure (log file is located at /home/rob/rpi/build/tmp/work/x86_64-linux/nodejs-native/6.10.3-r0/temp/log.do_configure.31856)
ERROR: Logfile of failure stored in: /home/rob/rpi/build/tmp/work/x86_64-linux/nodejs-native/6.10.3-r0/t

[2017-09-13 17:03] srware commented on #13
Thanks for reporting.

It should be fixed now.

[2017-09-13 17:46] rk-bp opened #14 "bitbake fetch failure https://github.com/derekbekoe/azure-multiapi-storage-python no longer exists"
bitbake fetch failure https://github.com/derekbekoe/azure-multiapi-storage-python no longer exists

[2017-09-13 21:20] xinxi531 opened #15 "gRPC recipe does not work for C++"
This gRPC recipe can only build grpc library for C support but not C++.

It would be great if recipe for C++ (aka grpc++) can be added.

[2017-09-14 09:37] srware commented on #14
Thanks for reporting.

Fixed: [https://github.com/intel-iot-devkit/meta-iot-cloud/commit/eade828414f3f28a576012710975c07672daec54](url)

[2017-09-14 09:37] #14 closed

[2017-09-14 09:37] #13 closed

[2017-09-15 12:42] srware commented on #15
Hi @xinxi531 ,

I'm not entirely sure why the gRPC recipe is still here actually, it's not used by any other recipes as far as I know. I can remember originally writing the recipe for this library and the 'Makefile' is a mess. It overrides so many standard variables set by the Yocto build system that cross compiling becomes a major headache. It also uses 'protoc' to build all plugins (including c+

[2017-09-15 17:58] xinxi531 commented on #15
Hi Scott,

Thank you for your reply. Indeed I have tried to write a recipe to build gRPC++ but their Makefile for grpc++ library is just so messy. There are a lot of stuff going on and a lot of variables need to be set (some even need to be set twice). I am still working on it.

My suggestion is do not delete the recipe. It supports C and Python anyways.

I will let you know if there are any updat

[2018-01-16 01:21] firecrypt opened #18 "Follow Yocto Project stable branch maintenance policies"
Typically, meta layers follow the branch scheme of poky/oe-core so that all layers are tested against the same release. See the branch maintenance policies [here](https://wiki.yoctoproject.org/wiki/Stable_branch_maintenance).

[2018-01-16 17:12] srware commented on #18
Good suggestion.

I had tried to avoid this up to now due to the maintenance overhead but will start working on it as I know it's useful for people to use a branch where versions and functionality remain unchanged.

[2018-01-16 17:25] firecrypt commented on #18
Awesome, thanks!

[2018-01-23 18:49] srware commented on #18
The work on this is largely done. I plan to get master cleaned up and a 2.4 branch sorted soon but 2.3 back to 1.8 are finished.

Regards.

[2018-01-23 18:49] #18 closed

[2018-01-26 08:09] jefdriesen opened #19 "azure-iot-sdk build error"
Hi,

The azure-iot-sdk recipe contains this code:
[code]
But this breaks the build on our build server, because there is no `$HOME` variable set and hence the `git config' fails with this error:
[code]
This can be fixed by removing the `--global` option. Using this option is a very bad idea anyway, because now you suddenly disable verification of SSL certificates for ALL git repositories! I wonder

[2018-01-26 09:24] srware commented on #19
Thank you for flagging this. This hack was always on my ToDo list to fix.

The issue is a leftover fix for legacy Yocto versions which for some reason failed to execute git commands specified manually in the recipe with SSL enabled. This was a dirty hack to make it work but as you have realised also introduces other issues and isn't exactly good practice!

I will work on a fix and get it pushed ho

[2018-01-26 09:31] jefdriesen commented on #19
Removing the `--global` option already fixes the build problem for me. But I also tested without the whole `git config` line, and that works just fine too! So that's probably a better solution.

I can create a pull request if that's easier for you.

[2018-01-26 09:51] srware commented on #19
I just tested with Yocto 2.3 and the default gitsm fetcher now appears to do a recursive pull by default so the configure prepend isn't required at all.

I need to check how far back the Yocto branches this is the case but for master I'm happy to remove the function completely. I will do this later today if you agree.

[2018-01-26 09:53] jefdriesen commented on #19
Sure, go ahead!

[2018-01-26 10:43] srware commented on #19
Done.

Let me know if you still have issues.

[2018-01-26 10:43] #19 closed

[2018-02-14 10:11] jefdriesen opened #20 "azure-c-shared-utility build error"
Commit 23b2acb4f54f7331586c14cc432cb82cd0eaccf1 seems to break the build, with this error:
[code]
So it looks like the patch doesn't apply correctly. The strange thing is that if I apply the patch manually using `git apply` or `patch -p1`, then there is no error:
[code]

[2018-02-14 10:39] srware commented on #20
Hi @jefdriesen ,

Which Yocto version are you based on so I can check it out? I tested on 2.4 as this is 'master' but am yet to check the patch with other branches.

Thanks

[2018-02-14 10:42] jefdriesen commented on #20
I'm using Yocto pyro (2.3).

[2018-02-14 12:55] srware commented on #20
Thanks for the info @jefdriesen

I'm struggling to reproduce. I just did a clean build using pyro branches and master branch of this repo and the package built without issue. I have just pushed a change to make sure the recipe commit doesn't wonder. Can you do a 'cleanall' on this package and try again?

Thanks

[2018-02-14 14:46] jefdriesen commented on #20
The problem remains afer doing a cleanall.

[2018-02-14 14:51] srware commented on #20
Is that with the latest changes pulled from master?

Could you also try the 'pyro' branch. I pushed a back-ported patch to that branch for the older version so it would be interesting to know if your build environment fails with that also.

Thanks

[2018-02-15 10:42] jefdriesen commented on #20
There is something really strange happening on my side. If I clean the package, and try to build it again, then it looks like yocto did checkout the wrong commit!

It does checkout commit b6ce97005ebe01b8656a505533d1501295e1e928 instead of the commit that was specified in the `SRCREV` variable (currently 4fe03ef78499f8acb1b2f8526b6cea8c432140d8). In the attached [do_fetch.log](https://github.com/i

[2018-02-15 12:48] srware commented on #20
@jefdriesen that's a new one on me...

I just checked my fetch log and it's basically the same but pulling the correct commit.

Maybe try getting rid of your 'tmp/cache' directory and try again?

The only other thing which has changed in the recipe is the release branch is specified rather than just pointing to a commit on master but I see no reason why this should cause an issue...

[2018-02-21 10:01] jefdriesen commented on #20
I found the problem. We have another layer that had a bbappend for azure-c-shared-utility, where the SRCREV was set to b6ce97005ebe01b8656a505533d1501295e1e928. Sorry for the noise!

[2018-02-21 10:01] #20 closed

[2018-02-21 10:03] srware commented on #20
No problem. Glad you found the issue.

[2018-03-13 14:46] ChadMcQuillen opened #21 "Recipe for azure-c-shared-utility points to non-existent branch 'release_2018_02_09'"
The offending commit is '23b2acb4f54f7331586c14cc432cb82cd0eaccf1'.  The SRCREV of '4fe03ef78499f8acb1b2f8526b6cea8c432140d8' as specified in a later commit exists, but the branch does not.

[2018-03-13 15:02] srware commented on #21
Thanks for reporting @ChadMcQuillen

Should now be fixed :)

[2018-03-13 15:02] #21 closed

[2018-03-15 20:31] JoeyR opened #22 "question on including azure's certs to yocto build"
I was doing some digging on an issue we have and came across [#175](https://github.com/Azure/azure-iot-sdk-c/issues/175)

The solution for us would be to set the "TrustedCerts" option in the IoT Client connection, but that depends on us including these files into the image/sdk.

For reference here are the [certs](https://github.com/Azure/azure-iot-sdk-c/tree/5ff695a91c95b0251f69bbb0b411d71b43fd2ff

[2018-03-19 16:42] mihaelaapetroaie opened #23 "iotedgectl for azure"
Hello,

I am new to Azure. I built the packagegroup-cloud-azure using your layer, but the command line tool iotedgeclt for Azure IoT edge does not seem to be installed. Maybe there is something I've done wrong and it is supposed to be there?

If the layer does not include that command line tool, is there a way of using the Azure Edge without it?

Thank you,
Mihaela

[2018-03-19 16:56] srware commented on #23
Hi @mihaelaapetroaie,

The 'iotedgectl' tool is only for v2 of Azure IoT Edge which uses Docker containerisation for managing modules etc... This is currently in public preview and not open-source so we don't yet have recipes to support it or any of the associated Python tools.

Currently we only have recipes for v1 of Azure IoT Edge [See here](https://github.com/Azure/iot-edge/tree/master/v1).

T

[2018-03-19 17:01] srware commented on #22
Hi @JoeyR,

I will look into getting the certs installed alongside the SDK and get back to you.

Thanks.

[2018-03-19 17:12] #23 closed

[2018-03-26 12:12] srware commented on #22
Hi @JoeyR,

Looking into this some more it looks like the certs are designed to be compiled into your code (or the sample) rather than included on the filesystem in a standard format (e.g. pem). The certs.h file isn't used for the actual SDK libs so including just the header file with the dev package would be pointless. I assume the expected behaviour is for you to include the cert.c and certs.h a

[2018-03-26 14:50] JoeyR commented on #22
@srware

Thanks for the update.

I was mainly looking at this problem from an update/maintenance perspective by including them in our toolchain. Thanks for your help and I'll build them in!

Joey

[2018-03-26 14:50] #22 closed

[2018-05-16 18:01] JoeyR opened #32 "How to update azure-iot-sdk-c to version 1.2.4?"
I'm not a bitbake master so I was wondering if those repos could get updated, also if it's an easy thing to do I would love to learn how to do it!

[2018-05-17 08:36] srware commented on #32
Hi @JoeyR ,

The main hold-up getting this recipe updated is that it is a dependency for the "Azure IoT Edge" recipe and this isn't getting updated much these days. I think in light of the fact v1 of Azure IoT Edge is now deprecated I will remove this from the 'master' branch which will allow me to update the C SDK recipe without breaking things. I can look into this later today.

In terms of upda

[2018-05-17 13:53] JoeyR commented on #32
Thanks for the info!

I have no issue with git on version 1.0.32, but I'm getting an error by changing the srcrev (and bb names) to the 1.2.4 commit:

`WARNING: azure-iot-sdk-c-1.2.4-r0 do_fetch: Failed to fetch URL gitsm://github.com/Azure/azure-iot-sdk-c.git, attempting MIRRORS if available

ERROR: azure-iot-sdk-c-1.2.4-r0 do_fetch: Fetcher failure: Unable to find revision cf2b33b6888c2322647737

[2018-05-17 14:00] srware commented on #32
This is because the commit you are fetching isn't on the 'master' branch so you would need to specify this in "SRC_URI". Try this commit: ad28b943aceea95df07d27d97206c987ebdd86f8

Also bear in mind that the SDK depends on a few other libraries which will also likely require updating to compile successfully (azure-c-shared-utility etc...).

[2018-06-01 13:21] srware commented on #32
Recipe has been updated in master and sumo branches.

Thanks.

[2018-06-01 13:21] #32 closed

[2018-07-24 22:13] derekstraka opened #34 "python-azure-multiapi-storage: recipe does not contain a valid LICENSE file"
The file pointed to in LIC_FILES_CHKSUM does not exist in the release called out based on a clean fetch.

This causes the following build issue

[code]

I can either use `PKG-INFO` or `setup.py` or use the git tag which contains the license file.  Any preference?

[2018-07-24 22:17] derekstraka opened #35 "python-knack: License checksum is invalid"
[code]

I can update the checksum, but it seems odd that the checksum differs

[2018-07-24 22:32] derekstraka commented on #35
@srware - I will do the fixes for this one and #34; I just want to know what you'd prefer as an action

[2018-07-25 09:38] #34 closed

[2018-07-25 09:38] #35 closed

[2018-07-25 09:41] srware commented on #35
Thanks for reporting @derekstraka . I agree this is bad practice, this one fell through the net. I usually use ${PN}-${PV}-license when downloading license files separate from the main package. Even better would be if these Python packages included the license file...

This is now fixed in master.

[2018-07-25 09:42] srware commented on #34
Thanks for reporting @derekstraka.
This package includes the full license in setup.py so my preference is to use this.

This is now fixed in master.

[2018-07-25 09:48] srware commented on #15
Closing this issue now as the recipe has been removed from the layer given that there is now a gRPC recipe maintained in meta-oe.

[2018-07-25 09:48] #15 closed

[2018-07-25 11:01] derekstraka opened #36 "packagegroup-cloud-azure is not installable"
When using the following image, the package group `packagegroup-cloud-azure` is not installable

[code]

Results in
[code]

[2018-07-25 15:01] #36 closed

[2018-07-25 15:01] srware commented on #36
Thanks for reporting @derekstraka.

This should now be fixed.

[2018-07-25 15:21] derekstraka commented on #36
Verified.  Thanks!

[2018-12-05 09:37] jostor opened #42 "Any plans updating node-red recipe to newer version?"
Are there any plans updating node-red recipe to a newer version soon? I tried doing it myself, by just renaming the file to node-red_0.19.5.bb, and updating the checksums. This worked fine when I was using the sumo branch, but on thud it isn't working. I get "ERROR: Function failed: sysroot_strip". See full log here: https://gist.github.com/jostor/d0318ee399ced56b0ae168ae8a72d1a7

[2018-12-05 09:50] srware commented on #42
Hi @jostor,

I've been updating recipes on request so I'm happy to update the Node-RED recipe in master. I'd be reluctant to update in any of the stable branches but I can make sure it is backwards compatible so you can use it with the "thud" branch if you wish.

I will try and get around to it later today.

Thanks.

[2018-12-05 16:47] srware commented on #42
@jostor, I have pushed a 0.19.5 recipe to master and tested with the 'thud' branch also.

Let me know if you have any issues.

[2018-12-05 16:47] #42 closed

[2019-01-08 12:58] vsivanagulu opened #43 "error while compiling samples of azure-iot-sak-c in rocko branch"
i have just removed the -Dskip_samples:BOOL=OFF in azure-iot-sdk.inc file. and try to compile. then i got below error. is this yocto eroor?

I found below line in above error log
**collect2: error: ld returned 1 exit status**

[2019-01-08 13:49] srware commented on #43
Hi @vsivanagulu,

This is semi-expected because the samples don't support building against shared libraries so the samples are linking against libs which don't exist. It's a bug with the SDK build system where the flag "build_as_dynamic" isn't taken into account for samples. I never bothered to patch it for the recipe because most of the samples require code changes like setting of the connection

[2019-01-09 05:31] vsivanagulu commented on #43
@srware  thats great work. Please post that example recipe. Also I have time now to do that Guide me to write that sample recipe. I would really very happy to work and support for "meta-iot-cloud" team.
Note: I have compiled libs succesfully How can I test azure-iot-sdk-c without samples. is there any other way.

[2019-01-09 05:54] vsivanagulu opened #44 "git ignore iisue"
Please create .gitignore file

**> *.py?

[2019-01-09 10:59] srware commented on #44
@vsivanagulu good idea, thanks.

This is now done.

[2019-01-09 10:59] #44 closed

[2019-01-10 05:39] vsivanagulu commented on #44
i have written aws-iot-sdk-c recipe but dont know how to commit

[2019-01-14 17:15] srware commented on #43
I have added an example showing how to compile one of the Azure IoT SDK samples in it's own recipe over here: [meta-iot-cloud-examples](https://github.com/srware/meta-iot-cloud-examples)

The example code is taken straight from the SDK repository with a slightly modified cmake build script. Something similar should work to build your own code or other samples against the meta-iot-cloud recipes.

I

[2019-01-29 13:57] #43 closed

[2019-04-06 21:09] SatinderSidhu opened #46 "Not able to see Sensors in Node RED"
I am developer, got the intel grove kit from one of the session attended lately. I am have started a  lab at home but hitting a road blocker. I have connected everything, but not able to detect the sensors in dashboard, so can't run any program. Is there troubleshooting i can do?

[2019-04-06 21:10] SatinderSidhu commented on #46
![image](https://user-images.githubusercontent.com/7516751/55675320-cf6ae400-588e-11e9-8fbd-0a2793afb5c7.png)

![image](https://user-images.githubusercontent.com/7516751/55675321-d4c82e80-588e-11e9-867b-c858443fa1b9.png)

[2019-04-06 21:15] SatinderSidhu commented on #46
![image](https://user-images.githubusercontent.com/7516751/55675373-95e6a880-588f-11e9-9f42-121db0c5f21c.png)

[2019-04-08 10:27] srware commented on #46
Hi @SatinderSidhu,

This repository isn't connected to the developer kit you are inquiring about so I am going to close this.

You should ask the question in the Intel forums.

Thanks

[2019-04-08 10:27] #46 closed

[2019-04-11 15:47] paul-betafive opened #47 "Use protobuf recipe from meta-oe"
A recipe for protobuf is already provided in meta-oe. This is the version against which other layers have been tested. Once we add in meta-iot-cloud to our build, we see a failure to build the armnn package as it is no longer building against the expected protobuf version.

Is it possible to scrap the protobuf recipe in this layer and instead use the one from meta-oe? If not then the recipe in thi

[2019-04-11 15:57] srware commented on #47
Hi @paul-betafive,

Good catch. This isn't needed in newer branches since python-protobuf was added to meta-python so I can remove it back as far as rocko (2.4). I'll get onto it later today/tomorrow.

For the other branches I will change the name of the recipe if required.

Thanks again.

[2019-04-11 15:59] paul-betafive commented on #47
rocko is the version I saw the issue on so personally I'm not interested in anything older. Currently trying to work around by setting `PREFERRED_VERSION_protobuf`. I'm happy to test any potential fix you have for the rocko branch though.

[2019-04-11 16:44] srware commented on #47
I have just pushed some changes to the rocko branch.

Let me know if this fixes the issue.

Thanks.

[2019-04-11 16:44] srware commented on #47
I have just pushed some changes to the rocko branch.

Let me know if this fixes the issue.

Thanks.

[2019-04-16 12:32] srware commented on #47
This should now be fixed so closing for now.

Feel free to reopen if there is still an issue.

[2019-04-16 12:32] #47 closed

[2019-06-21 08:29] hicklin opened #48 "recipes-google-clous/python missing in latest versions"
I noticed that the recipes for python APIs to the Google Cloud Platform are missing from the thud and warrior branches. Is this intentional?

[2019-06-21 09:57] srware commented on #48
Hi @hicklin,

It is intentional mainly because they were a nightmare to maintain and kept breaking.

If there is a need/want for one or more of them I will happily add them back so please let me know which ones you are using and I will see what I can do.

Thanks,

Scott

[2019-06-21 10:13] hicklin commented on #48
I feel your pain. I am trying to build them myself at the moment. The main recipe I currently need is pubsub. It seems that the recipes in the older versions are a bit outdated for my needs.

I'm happy to help out with updating the recipes that I need.

[2019-06-21 10:48] srware commented on #48
@hicklin,

Pubsub shouldn't be too difficult to add back in to master. I will take a look later on today.

Thanks.

[2019-06-21 11:09] hicklin commented on #48
I am in the process of updating all the recipes that PubSub depends on to
the latest tagged versions in their respective repositories. I can push the
updates and you can review them if that saves you time.

On Fri, 21 Jun 2019 at 11:48, Scott Ware <notifications@github.com> wrote:

[2019-06-21 11:11] srware commented on #48
Sounds good. Appreciate it :)

[2019-06-21 14:43] hicklin commented on #48
I have finished and tested all the recipes required to get PubSub working. I am working on a local feature brunch called thud-google-cloud-python. Can you give me access to commit this branch?

Note: I have not included the python.bb files. The reason being that I am not using python2 and will not be testing them. Also, some of the packages have published that support for python2 will be dropped f

[2019-06-21 15:30] srware commented on #48
@hicklin,

Thanks for your efforts here. Normal procedure is to fork the repo and submit a PR against the feature branch in your fork. Unfortunately I can't give you write access to this repo.

I will still need to add python2 variants for any Python packages which support 2 and 3 for the next couple of Yocto releases I guess but I am happy to add these.

Thanks.

[2019-06-21 16:03] hicklin commented on #48
OK, I will leave it up to you to add and test the python2 variants. The PR has been sent. I am going to close the issue.

[2019-06-21 16:03] #48 closed

[2019-08-08 11:46] DasRoteSkelett opened #50 "Question: Version of azure-iot-sdk-c"
Hi!
I am a complete noob when it comes to the azure-iot-sdk-c, I was just wondering, if there is any particular reason that the current version is at 1.2.10 and not 1.3.x or anywhere closer like 1.2.14? And if there are no particular reasons, would you accept a PR?

Regards,

   Matthias

[2019-08-08 13:10] srware commented on #50
Hi Matthias,

The only reason is time. I maintain this layer on a best effort basis so generally when someone asks for an update or I have a particular need myself. I will happily accept a PR on the master branch or a request to update a given recipe.

Many thanks.

[2019-08-23 09:56] jumo-sballing opened #51 "Service file for Node-RED using the wrong path"
Since the YOCTO team has changed the install directory for node modules from $PREFIX/lib/node_modules to $PREFIX/lib/node, the [node-red.service](https://github.com/intel-iot-devkit/meta-iot-cloud/blob/master/recipes-node-red/node-red/node-red/node-red.service) file from your node-red [recipe](https://github.com/intel-iot-devkit/meta-iot-cloud/blob/master/recipes-node-red/node-red/node-red_0.20.5.

[2019-08-23 09:58] srware commented on #51
Many thanks for the heads up. I will get it fixed :)

[2019-08-23 15:34] srware commented on #51
I just double-checked this and in the latest "master" and "warrior" Poky branches node modules are still installed to "/usr/lib/node_modules". The "/usr/lib/node" directory is just a symlink.

https://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/meta/classes/npm.bbclass#n13

See this commit which reverted the change:

https://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/meta/classes/npm.bbclass?

[2019-08-27 13:53] jumo-sballing commented on #51
Thank you so much for checking this.

That was my mistake. I just looked at our internal mirror of the Yocto repository and didn't see the revert commit in the official repo. I have now realized that everything is fine in the official Warrior Branch.

This can be closed now.

[2019-08-27 14:03] srware commented on #51
No problem :)

[2019-08-27 14:03] #51 closed

[2019-08-28 10:01] #50 closed

[2019-08-28 13:20] srware commented on #51
Let me patch that, it's on my list :)

Hopefully be fixed by EOD.

[2019-08-28 13:32] srware commented on #51
I just checked the 'thud' branch of this layer and it isn't using the npm.class for node-red which means it is installing to the correct location... There will be issues if attempting to use the 'master' branch of this layer with 'thud'. If this issue is relating to the 'thud' branch of this layer let me know.

[2019-08-28 13:46] srware commented on #51
Sure, I understand, however, I keep this layer in line with Yocto release branches so to ensure compatibility branches need to be the same for all layers. You can of course still use master and apply your own patches but I won't be able to patch 'master' to work with 'thud' upstream.

The fix for this should be pretty easy to add in a .bbappend though. Just add the following after 'inherit npm'

`

[2019-10-20 21:32] trampster opened #58 "dotnet_3.0.0.bb doesn't support arm32"
I added the following:
[code]

which got me closer but then got this error:

ERROR: dotnet-3.0.0-r1 do_package_qa: QA Issue: /usr/share/dotnet/shared/Microsoft.NETCore.App/3.0.0/System.Net.Http.Native.so contained in package dotnet requires libcurl.so.4(CURL_OPENSSL_3), but no providers found in RDEPENDS_dotnet? [file-rdeps]
ERROR: dotnet-3.0.0-r1 do_package_qa: QA run found fatal errors. Please c

[2019-10-21 00:32] trampster commented on #58
This dotnet issue seem relevant https://github.com/dotnet/core/issues/1367 but Its from 2018 and I don't understand it well enough to draw any conclusions

[2019-10-23 09:29] srware commented on #58
This is true, the recipe has no support for ARM32. I can look into this though.

[2019-10-23 11:40] srware commented on #58
@trampster, I come across the same dependency issue as you building for arm which is obviously a build time issue with the .NET Core download. I think the only solution to this will be the recipe building .NET from source rather than using the binary distribution for each arch or hacking the curl recipe so it provides CURL_OPENSSL_3 instead of CURL_OPENSSL_4.

[2019-10-23 11:40] #58 closed

[2020-03-25 19:05] bpastore opened #66 "Update azure-iot-sdk-c to last version (1.3.8)?"
Hello,
I'm working on the design of a new IoT device based on Linux (Yockto).
I want use the last Azure SDK but I'm a newbie on receipe world.
Where can I start? someone can help me?
Thanks in advace

Best regards

[2020-03-28 16:18] srware commented on #66
@bpastore, I will try to find some time to update in the coming days. This particular SDK requires a lot of work to update due to the many dependencies it has so it is update infrequently at best.

[2020-04-08 19:29] scooter1556 commented on #66
@bpastore, master branch has been updated.

Let me know if there are any problems.

[2020-04-08 19:30] srware commented on #66
@bpastore , master has branch has been updated.

Let me know if there are any problems.

[2020-04-08 19:31] #66 closed

[2020-04-13 11:08] Bog999 opened #69 "Errors when building the azure package group"
Hi, I'm trying to build the azure package group in branch 'thud' and the build fails while trying to fetch the git repositories.
I'm using Petalinux which is a based on yocto (thud) and is provided by xilinx.
The build machine is a (virtual) Ubuntu 18.04.1. Git version is 2.17.1

Here is a log of the build.

[code]

I'd appreciate your help

[2020-04-14 20:12] srware commented on #69
Hi @Bog999,
There is something strange with the Azure git repos and their extensive use of submodules when fetching with bitbake. I've seen it quite often where there seems to be a lot of requests to the same github repos because they all share dependencies in the form of submodules which are fetched recursively and it seems to lead to some sort of timeout.

Things are slightly better with the rec

[2020-04-15 15:22] Bog999 commented on #69
Thanks for the quick reply!
Unfortunately, I get the same error.
This is the log of the task that fails
[code]

Thanks

[2020-04-16 12:50] srware commented on #69
Hi @Bog999 ,

I have just pushed some changes to the thud branch which might help. If you can test and let me know it would be appreciated.

Thanks.

[2020-04-16 14:05] Bog999 commented on #69
The build of azure-umqtt-c, azure-uamqp-c and azure-c-shared-utility succeeds but azure-iot-sdk-c fails
The log was too long to paste here [https://pastebin.com/gHCVEjk2](url)

[2020-04-16 15:53] scooter1556 commented on #69
Thanks for testing.

I have done a few builds from scratch with the thud branch today and had no issues but I know this issue is quite random and is effected by many different factors. The ideal solution would be to remove the submodule fetching requirement for azure-iot-sdk-c but this isn't that easy. I will try and find some time to look into this some more and see if it will be possible.

[2020-04-16 15:56] srware commented on #69
Thanks for testing.

I have done a few builds from scratch with the thud branch today and had no issues but I know this issue is quite random and is effected by many different factors. The ideal solution would be to remove the submodule fetching requirement for azure-iot-sdk-c but this isn't that easy. I will try and find some time to look into this some more and see if it will be possible.

[2020-04-16 18:59] Bog999 commented on #69
Thanks a lot!

[2020-04-17 15:22] srware commented on #69
I have pushed another change to the thud branch which in my tests allows the SDK recipe to build without fetching submodules. I'd appreciate if you can test.

I won't be able to fix the python-azure-iothub-X recipes due to the way the Python wrappers for the SDK are compiled so if you run into trouble with these and don't need them I would recommend removing 'python' from your 'packagegroup-cloud-

[2020-04-18 19:17] Bog999 commented on #69
The build works now and I didn't have to disable the python recipes.
Thanks!

[2020-04-18 19:17] #69 closed

[2020-04-26 06:02] bcis93 opened #70 "Build cannot find azure iot libraries"
Hi, I get the following errors when trying to build an application with azure-iot-sdk-c (using the thud branch)

[code]

The recipe I am using to try to build my application is as follows:
[code]

Am I doing something wrong? Or are these libraries not getting installed correctly?

[2020-04-27 03:51] bcis93 commented on #70
Never mind, I figured it out! For the missing uhttp library, I had to add a recipe to build it (and I opened a [pull request](https://github.com/intel-iot-devkit/meta-iot-cloud/pull/71) for this). For the other two libraries, I found that I needed to use the `use_edge_modules` flag while building azure-iot-sdk-c. I am planning on opening another pull request with this option added to the `PACKAGEC

[2020-04-27 03:51] #70 closed

[2020-04-27 20:32] srware commented on #70
@bcis93 , I have just pushed some changes to master which will hopefully fix the issue. From looking at your PRs you came to the same conclusion as me about what was causing the problem.

You will need to specify the following in your config because edge modules are not built by default:
`PACKAGECONFIG_pn-azure-iot-sdk-c = "amqp edge http mqtt" `

[2020-04-27 22:48] bcis93 commented on #70
@srware the fixes worked for me, thanks! As I mentioned in the original description, I am working on the thud branch, so I would like to get these changes there too, if you don't mind, and I would also like to update azure-iot-sdk-c to version 1.3.8. Let me know what you think - I'd be happy to submit a PR for this

[2020-04-28 08:34] srware commented on #70
@bcis93 , given thud is a stable branch I won't be able to update the SDK version other than for exceptional security related reasons. This is to keep compliance with Yocto maintenance guidelines.

I am happy to try and add support for compiling edge modules to the existing version though if this is relevant.

[2020-04-28 16:19] bcis93 commented on #70
@srware that's ok then about the SDK update. But yes, adding support for compiling edge modules would be great!

[2020-04-28 16:46] srware commented on #70
@bcis93 , no problem. I will give you a heads up when it is done.

[2020-05-10 14:07] Bog999 opened #73 "Problem with node-red after enabling systemd"
Hi, I'm trying to compile yocto on the "zeus" branch with meta-iot-cloud. After I added systemd to my image, the build started failing. I'll paste logs are below.

I'd appreciate your help.

[code]

[code]

[2020-05-13 08:13] srware commented on #73
Hi @Bog999 ,

I'm not able to replicate this on my side with the zeus branch. I'm not sure I understand why adding systemd to your build config would cause an npm error.

Have you tried doing a cleanall for the node-red package and rebuilding?

[2020-05-13 09:10] Bog999 commented on #73
I tried to build the whole yocto image in a new directory, but I got the same result
Is it possible that the problem is in the host machine? I'm using Ubuntu 18.04.3. What else should I check?

[2020-05-13 09:49] srware commented on #73
@Bog999 , can you let me know what config was added which broke the node-red build?

[2020-05-13 15:53] Bog999 commented on #73
I added the meta-updater layer and changed the distro to "poky-sota"
Then, I added these lines to the distro configuration
[code]
The last step broke the build

[2020-05-14 14:08] srware commented on #73
@Bog999 , thanks for the config.

I have tried doing a default Poky image build with that config and again can't replicate the issue. I will try adding the meta-updater layer and changing the distro to "poky-sota" to see if this has an effect.

[2020-05-15 10:53] srware commented on #73
@Bog999 , I have tried doing a poky-sota build for Minnowboard and again everything completed without issue.

What MACHINE are you building for and are you pulling in any additional BSP layers for the hardware?

[2020-05-15 11:20] Bog999 commented on #73
I'm using the [meta-xilinx](https://github.com/Xilinx/meta-xilinx) layers and the machine is zc702-zynq7

[2020-05-15 19:39] srware commented on #73
Hi @Bog999 , I have created a fresh build and pulled in the Xilinx layers, set machine to zc702-zynq7 and I am still not able to replicate the issue. Everything builds without issue on my end.

The original issue seems to be NPM related and generally caused by the package-lock.json but I would expect this to fail consistently.

I would suggest trying master/dunfell branches because Node recipes ha

[2020-05-17 12:06] Bog999 commented on #73
Building node-red succeeds when the MACHINE is set to "qemuarm" (32bit) but it fails when the MACHINE is "zc702-zynq7"

[2020-05-18 10:11] Bog999 commented on #73
@srware Is it possible that you post here the configuration which you used in your tests? It's possible that I have misconfigured something.

[2020-05-18 19:19] srware commented on #73
@Bog999 , sure. I did another fresh build today with the following additional config on top of default "poky":

MACHINE = "zc702-zynq7"
DISTRO = "poky-sota"
PACKAGECONFIG_pn-boost = "python"
CORE_IMAGE_EXTRA_INSTALL += "node-red"
DISTRO_FEATURES_append = " systemd"
VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = "systemd-compat-units"
DISTRO_FEATURES_BACKFILL_CONSIDERED += "

[2020-05-19 09:35] Bog999 commented on #73
I uninstalled npm from the host machine and did a clean. Now the build seems to be working.
Thanks for the help!

Should I close the issue?

[2020-05-19 10:09] srware commented on #73
@Bog999 , thanks for the update. Strange that something in your host configuration was messing with the bitbake build but glad that you resolved the issue.

I will close this now.

[2020-05-19 10:09] #73 closed

[2020-05-22 15:44] dl9pf opened #74 "umock-c-dev has dependency to the non-existent umock-c package (implicit default dependency of -dev pkgs)"
Symptom:
When adding umock-c-dev to TOOLCHAIN_TARGET_TASK (for SDK generation), the process fails with:

ERROR: fooimage-crosssdk-1.0-r0 do_populate_sdk: Could not invoke dnf. Command 'fooimage-crosssdk/1.0-r0/recipe-sysroot-native/usr/bin/dnf -v --rpmverbosity=info -y -c fooimage-crosssdk/1.0-r0/sdk/image/opt/sdk/9.90.0+snapshot-aarch64/sysroots/aarch64-linux/etc/dnf/dnf.conf --setopt=reposdir=/t

[2020-05-22 16:40] dl9pf commented on #74
ALLOW_EMPTY_${PN} = "1"
in the umock-c  recipe.

[2020-07-17 12:46] tbandtg commented on #58
What recipe that builds it from source?

[2020-07-17 20:36] srware commented on #58
@tbandtg , [meta-aspnet](https://github.com/Tragetaschen/meta-aspnet) built dotnet from source although I'm not sure how well maintained it is. I can re-evaluate binary support for arm32, it's been a while since I last checked. [This](https://github.com/RDunkley/meta-dotnet-core) layer seems to have had success in this regard although I have never tried it.

[2020-07-17 23:07] tbandtg commented on #58
It is arm64 but, I can not get it to work, I have also tried this one https://github.com/RDunkley/meta-dotnet-core but I get the following output
ERROR: aspnet-core-3.1.3-r0 do_package_qa: QA Issue: /usr/share/dotnet/shared/Microsoft.NETCore.App/3.1.3/System.Net.Security.Native.so contained in package aspnet-core requires libgssapi_krb5.so.2()(64bit), but no providers found in RDEPENDS_aspnet-core

[2020-07-21 15:17] #74 closed

[2020-07-22 10:42] srware commented on #58
@tbandtg , I have added a 5.0.0 preview recipe to master. I think this going to be the first .NET release where we can support arm on Yocto because the curl dependency has been completely removed. I've tried several workarounds with older versions to work around the curl dependency issue but there is no nice way of making it work. It all seems to stem from a broken curl package on Ubuntu which is

[2020-07-22 13:59] tbandtg commented on #58
Thanks much would there need to be any changes between master and the zeus branch that you know of?

[2020-07-22 14:03] srware commented on #58
Not that I can think of other than adding "zeus" to `LAYERSERIES_COMPAT` in `conf/layer.conf`

[2020-08-29 15:52] tejas-volansys opened #78 "ibm-iotf-java and aws-iot-device-sdk-java compilation fails on morty branch"
Hi,

I am using meta-iot-cloud on the "morty" branch. Compilation of "ibm-iotf-java-0.2.6-r1" and "aws-iot-device-sdk-java_1.1.1" getting failed. It is trying to fetch the "nexus-staging-maven-plugin-1.6.3.pom" from "http://repo.maven.apache.org/maven2" but it is not longer accesible and suggesting to use "http://repo.maven.apache.org/maven2" instead.

Below is the log for the same

ERROR: ibm-iot

[2020-09-07 08:44] scooter1556 commented on #78
I am not able to replicate this unless I do not override the Maven mirrors to use http instead of https. With https I get errors pulling these packages for some reason which is why the Maven recipe provided by this layer is set to use http for that particular repository.

Given that the error you are receiving is stating that HTTPS is required I would assume that your build config or more likely n

[2020-09-07 08:58] srware commented on #78
I am not able to replicate this unless I do not override the Maven mirrors to use http instead of https. With https I get errors pulling these packages likely due to TLSv1.1 support being removed from the central maven repo which is why the Maven recipe provided by this layer is set to use http for that particular repository.

Given that the error you are receiving is stating that HTTPS is require

[2021-02-25 16:43] aj-bagwell opened #84 "awscli is missing getpass python dependency"
When installing `python3-awscli` and trying to run it with the command `aws s3 cp ...` it fails with the following stacktrace:

[code]

This is because the python3-unixadmin package is not installed.

[2021-02-26 09:37] #84 closed

[2021-05-14 12:55] #78 closed

[2021-06-03 13:35] tbandtg opened #88 "Is it possible to get this updated to dotnet .300?"
Hello I tried to manually update it but I get a stat error on the install.

/aarch64-poky-linux/dotnet/5.0.300-r0/dotnet-5.0.300/host/fxr/gnu': No such file or directory
| WARNING: exit code 1 from a shell command.
| ERROR: Execution of '/mnt/nfs_share/edm_yocto2/build-xwayland-edm-g-imx8mp/tmp/work/aarch64-poky-linux/dotnet/5.0.300-r0/temp/run.do_install.11387' failed with exit code 1:
| cp: cann

[2021-06-03 15:13] tbandtg commented on #88
Ill tell you why I want it, it is because 5.0 and 5.1 had a bug that they could not be properly debugged on an arm64, this was fixed in 5.2.

[2021-06-03 15:18] srware commented on #88
I will take a look at updating the recipe to 5.0.300.

[2021-06-09 10:04] srware commented on #88
Master should now be updated. Let me know if there are any issues.

Thanks.

[2021-06-09 10:04] #88 closed

[2021-10-18 17:30] kekiefer opened #101 "Please create honister branch"
Yocto project has created its honister branch. This code at current master builds against honister, so now is a good time to create that branch.

[2021-10-22 11:06] #101 closed, assigned to nobody

[2021-11-20 01:38] mkilivan opened #103 "Update Node-RED to latest version: v2.1.3"
Could you update Node-RED to the latest version, please?

[2021-11-22 20:34] srware commented on #103
Sure, I will look to get it updated this week.

[2021-11-25 21:53] srware commented on #103
@mkilivan , I am still working on this. For 2.X releases the HTTP Request node was migrated to a new library called 'got' which is causing some build issues I need to look into some more.

[2021-11-26 08:25] mkilivan commented on #103
@srware Thank you for the update.

[2021-12-02 20:36] kripscorp opened #105 "Unable to find revision"
WARNING: azure-iot-sdk-c-1.3.8-r0 do_fetch: Failed to fetch URL git://github.com/Azure/azure-iot-sdk-c.git;rev=a8a71c2d120c571a2d2ab6149863c2b075e7bea9, attempting MIRRORS if available
ERROR: azure-iot-sdk-c-1.3.8-r0 do_fetch: Fetcher failure: Unable to find revision a8a71c2d120c571a2d2ab6149863c2b075e7bea9 in branch master even from upstream
ERROR: azure-iot-sdk-c-1.3.8-r0 do_fetch: Fetcher failu

[2021-12-03 11:10] srware commented on #105
Thanks for flagging this @kripscorp. Should be fixed on the dunfell branch now and I will also update other active branches this impacts.

[2021-12-03 11:10] #105 closed

[2021-12-07 15:27] Pan5ky opened #107 "Node-RED v1.22 do_fetch takes very long/fails"
Hi,

Building node-red seems to be broken. I noticed in the log that resolving each npm dependency takes several minutes and in the end the whole process fails because of some other packages that could not be resolved at all. I'm not sure whats causing this because it built previously just fine.

My log:
`DEBUG: Executing python function extend_recipe_sysroot
NOTE: Direct dependencies are ['virtua

[2021-12-08 11:34] srware commented on #107
Hi @Pan5ky,

This particular issue looks like it might be related to a large number of requests to the NPM registry, I can't recall having a similar problem. The NPMSW fetcher in bitbake pulls down all dependencies from the NPM registry and packages them which is why do_configure() takes a long time.

Having said all this, the NPM fetcher seems to be quite broken since master updated to NodeJS 16.

[2021-12-10 17:22] rwmacleod opened #108 "Upgrade s2n to 1.3.1?"
Would you take a patch to uprev s2n to 1.3.1?

We're seeing an intermittent build problem with 1.1.1  that may just be due to lack of memory in our container build but I'd just as soon upgrade before having someone debug the issue.

[136/515] TOPDIR/tmp-glibc/work/core2-64-wrs-linux/s2n/1.1.1-r0/recipe-sysroot-native/usr/bin/x86_64-wrs-linux/x86_64-wrs-linux-gcc -D_POSIX_C_SOURCE=200809L -Ds2n_EXP

[2021-12-10 21:08] srware commented on #108
Hi @rwmacleod,

I will happily accept a PR for this however, upgrading s2n has a knock on for the rest of the AWS common runtime (CRT) libraries and associated packages (e.g. python-awcrt) which all need to be upgraded in situ so it may not be as trivial (or fast) as you want. Worth upgrading s2n in isolation to see if it helps your build problems. If it does I will gladly help get everything upda

[2021-12-28 08:08] hongxu-jia commented on #108
While DEBUG_BUILD = "1" in local.conf, `-Og' is added to cfalgs by
Yocto, it broke s2n build with `-Werror=stringop-overflow=' (enabled
by -Werror in s2n's CMakeLists.txt)

Here is the fix [1] to support gcc 11, I also submitted it to upstream [2]
[1] https://github.com/intel-iot-devkit/meta-iot-cloud/pull/110/
[2] https://github.com/aws/s2n-tls/pull/3160

[2022-01-16 19:02] Pan5ky commented on #107
Hi @srware, thank you for your reply.
It seems that the issue was caused by me running the build system in a virtual machine. I didn't encounter the problem again after setting everything up on real hardware. I tried an older commit with node-red v1.02 and the current v1.2.2 and both commits worked as expected now.

[2022-01-16 19:02] #107 closed

[2022-01-22 12:05] Pan5ky opened #115 "Provide package.json to node-red recipe"
Is it possible to add the original package.json used to generate the npm-shrinkwrap.json file to the node-red recipe? Currently, it is very cumbersome to install npm packages to node-red because there is no clean way to do so for a shrinkwrap file.

[2022-01-23 09:32] srware commented on #115
Hi @Pan5ky ,

I don't really understand the request. The package.json used to generate the npm-shrinkwrap.json is the same one which gets pulled down with the git source. The recently refactored openembedded NPM classes require this to maintain some kind of reproducible results.

What do you mean by this exactly? Any additional node-red packages (additional nodes etc...) should be handled in their

[2022-01-23 10:20] Pan5ky commented on #115
Thank you @srware for the quick answer,

Let me explain what I am trying to do: I need to install some additional nodes in node-red, so I copied the complete recipe from this repository to my own layer. Then I edited the shrinkwrap file to include the nodes I need. This is not the best solution, of course, because shrinkwrap files are not meant to be used this way. A better solution would be to ha

[2022-01-23 11:09] srware commented on #115
OK, that's what I assumed you are trying to do.

Generally additional node-red nodes are contained in their own NPM package such as this: [IBM Watson nodes](https://www.npmjs.com/package/node-red-node-watson). The correct way to add them to your image would be to create a new recipe which depends on the node-red package, in this case the recipe would be called "node-red-node-watson". The node-red

[2022-01-23 12:15] srware commented on #103
Master has been updated to version 2.1.6.

[2022-01-23 12:15] #103 closed

[2022-01-23 13:02] srware opened #116 "meta-aws duplication"
@hongxu-jia @kekiefer @robertlinux @kkang-wr

You may be aware there is an AWS maintained meta-layer which contains pretty much all of the same AWS related recipes as this layer: [https://github.com/aws/meta-aws](https://github.com/aws/meta-aws)

As recent contributors to these recipes I would like your insights and thoughts on whether to keep maintaining the recipes in this layer alongside the "o

[2022-01-23 14:43] Pan5ky commented on #115
Thank you! I found [this](https://www.yoctoproject.org/docs/current/mega-manual/mega-manual.html#creating-node-package-manager-npm-packages) documentation page which shows how to do exactly that (Section 7.22.7.2. Using the Registry Modules Method). This worked for me.

Super happy that I won't have to mess with the shrinkwrap file anymore haha.

[2022-01-23 14:43] #115 closed

[2022-03-01 11:31] amolina-chargevite opened #117 "Update node-red version"
Hi, I am using node-red in my yocto project image with the dunfell branch, but my problem is that the version of node-red installed with this branch is 1.0.2 and I need a more update version, for example the 2.2.2. Which files do I need to modify the version of node-red? I have tested with the json file but I am not familiar with json. Is there a command to download the last version of node-red? I

[2022-03-01 16:43] srware commented on #117
Hi @amolina-chargevite ,

The master branch has a recipe for node-red 2.1.x but the master branch in it's entirety isn't compatible with dunfell due to the new override syntax being used (: instead of _).

You could try grabbing the latest [node-red recipe](https://github.com/intel-iot-devkit/meta-iot-cloud/tree/master/recipes-devtools/node-red) from the master branch and integrate them into your

[2022-03-02 07:13] amolina-chargevite commented on #117
Hi @srware,
I was trying copy the folder node-red of master branch to the dunfell branch but don't compile. Could you tell me what the changes are? Thanks in advance.

[2022-03-03 10:55] srware commented on #117
With latest dunfell the new override syntax is also supported so the only changes I needed to make was to add the following line to the node-red recipe:

`INSANE_SKIP_${PN} += "staticdev"`

[2022-03-23 08:28] #117 closed

[2022-09-07 11:57] ppladde opened #156 "Fetcher failure: Fetch command failed with exit code 128"
I am using Krogoth branch of Yocto for my development and I need to add "pycryptodome" to my build.
layers.openembedded.org redirected me here for that recipe.
I have copied entire "meta-iot-cloud" layer and added the same to my "bblayer.conf". then added "python3-pycryptodome" to my local.conf. but there is some fetch error when I try to bitbake.
Can someone please point out what I am missing.  B

[2022-09-12 21:07] #116 closed

[2022-09-12 21:13] srware commented on #156
It's likely this is due to Github no longer allowing access through the git protocol or some other issue with the repository commit being pulled by the recipe. I imagine updating the recipe to use https protocol would fix things. That said, given the krogoth release is 5 years past end of life there are likely to be many other issues.

[2022-10-14 08:06] Rafq77 opened #157 "Update aws-iot-device-sdk-cpp-v2"
Is it possible to update the sdk to newer version? Currently is 1.12.6 at least 1.14.x would be preferred, because of the easier MqttClient handling and static ClientBootstrap instance.

I wanted to do it myself but I don't understand the full scope of the `Build-static-and-shared-libs.patch`.

[2022-10-19 09:22] #156 closed

[2022-10-19 12:55] Rafq77 commented on #157
Thank you for answering anyway :). I have downgraded my software to match the 1.12.x however it doesn't represent the quality that I'd prefer it would do. I consider my current solution as temporary until the meta layer would be updated. :)

Otherwise, if I understood you correctly, I could try making my own recipe of the sdk with strictly static lib support. However it would be error prone while

[2022-10-25 10:21] srware commented on #157
@Rafq77 , I should get some time this week to take a look at getting this updated.

There is also the [AWS official layer](https://github.com/aws4embeddedlinux/meta-aws) which is likely more up to date and might be worth a go.

[2022-11-02 08:28] Rafq77 commented on #157
I also thought about that but then I was thinking that you did adjust sdk-cpp-v2 in your layer here. Therefore I have asked here first :)

[2022-11-08 09:38] srware commented on #157
@Rafq77 , I have tested the [https://github.com/aws4embeddedlinux/meta-aws](meta-aws) layer for all packages included in this layer and most of the issues I encountered previously have been fixed. I think it will be logical to deprecate the AWS recipes from this layer to prevent duplication and also make sure issues go back to AWS developers who have been assigned to support them.

Can you also te

[2022-11-08 09:41] srware commented on #108
@rwmacleod , I am likely to deprecate the AWS recipes from this repo given AWS now have an [https://github.com/aws4embeddedlinux/meta-aws](official meta layer) and I don't want to duplicate effort if their is an official supported option available.

If you haven't already and this is still an open are you able to test the AWS meta layer for your project and raise any issues encountered either here

[2022-11-10 14:29] Rafq77 commented on #157
@srware Great to know, if there are now further dependencies I will try to change to meta-aws directly. This might take some time  though (few weeks). I'll aim for the report before Christmas.

[2022-11-14 06:56] ChenQi1989 opened #158 "recipes-aws deleted with no corresponding recipes in meta-aws"
The recipes-aws is deleted by https://github.com/intel-iot-devkit/meta-iot-cloud/commit/3fc517e92f7ea939cf2635bccbaadf3e6f2995d2.
Yet I found that the following recipes lack corresponding recipes in meta-aws.

packagegroup-cloud-aws_0.17.bb
python3-awsiotsdk_1.5.12.bb
python3-awscrt_0.11.20.bb
python3-awscli_1.18.157.bb
aws-iot-device-sdk-cpp-v2-samples_1.12.6.bb
python3-gg-group-setup_0.5.3.bb

W

[2022-11-14 15:28] srware commented on #158
Hi @ChenQi1989 ,

This work isn't fully finished yet. I do have a plan for migration.

Let me go through each of the recipes and give details or meta-aws recipe names:

python3-awsiotsdk -> aws-iot-device-sdk-python-v2
python3-awscrt -> aws-crt-python
python3-awscli -> aws-cli
python3-gg-group-setup : This isn't an AWS project however, it is also unmaintained for over 2 years so needs to be remove

[2022-11-15 02:09] ChenQi1989 commented on #158
Hi @srware ,
Thanks for your detailed explanation. It helps a lot.
I totally agree with your plan.
Once you finish the work, please do me a favor and let me know (maybe just close this issue at that time).
Thanks in advance :)